.archive-list
  list-style none
  margin 50px 0 10px

  .fa
    font-size: 20px

  tr

    th
      text-align left

    td:nth-child(n+2)
      color DarkGray

    span
      color lightgrey
      font-size 14px

  a
    border-bottom: 1px dashed #ccc;
    color #666
    line-height 24px
    text-decoration none

    &:hover
      border-bottom: 1px dashed #333;
