.button
  border-radius 5px
  color white

  &.green
    background $green

  &.orange
    background $orange

  &.lightblue
    background $lightblue

    &:hover
      background $midblue

  &.lightgrey
    background $lightgrey

  &.large
    padding 12px 25px

  &[class*='-icon']
    background transparent
    font-size 20px


button
  &.button
    border none
