.cashflow-totals
  margin-top 100px

  .totals
    border-color $lightgrey
    border-style solid
    border-width 1px 0
    display flex
    margin 40px 0 80px
    padding 40px 0

  .total
    flex-grow 1

    .label
      color $lightgreytext
      font-size 22px

    .value
      display block
      font-size 35px
      font-weight bold
      letter-spacing -1px
