.articlebody
  .dashboard-archive-panel
    width 33.33333%

.dashboard-archive-panel
  background white
  border 1px solid #bbb
  padding 10px

  > *
    margin 0
    padding 0

  .title
    margin-bottom 10px

  .archive-list
    list-style none
    margin-bottom 10px

    li
      &:first-child
        border-bottom 1px dashed #bbb
        margin-bottom 10px
        padding-bottom 10px

    a
      color #666
      line-height 20px
      text-decoration none


  a
    color $orange
