.articlebody
  .dashboard-archive-panel
    width 33.33333%

.dashboard-archive-panel
  background white
  border 1px solid #bbb
  padding 10px

  > *
    margin 0
    padding 0

  .title
    font-size: 30px
    margin-bottom 15px

  .custom-date-range
    .date-range-toggle
      display block
      outline none
      position relative

    &.is-active
      background lighten(lightgrey, 90%)

      .date-range-toggle
        &:after
          color grey
          content "\00D7"
          font-size: 24px
          position absolute
          right 0

  a
    color $orange
