.articlebody
  .dashboard-archive-panel
    width 33.33333%

.dashboard-archive-panel
  background white
  border 1px solid #bbb
  padding 10px

  > *
    margin 0
    padding 0

  .title
    font-size: 30px
    margin-bottom 15px

  .archive-list
    list-style none
    margin-bottom 10px

    li
      &:first-child
        border-bottom 1px dashed #bbb
        margin-bottom 10px
        padding-bottom 10px

    a
      border-bottom: 1px dashed #ccc;
      color #666
      line-height 24px
      text-decoration none

      &:hover
        border-bottom: 1px dashed #333;


  a
    color $orange
