.progress-bar
  background Gainsboro
  border-radius 25px
  height 7px
  margin-bottom 25px
  overflow hidden
  position relative
  width 35%

  .progress
    background MediumSeaGreen
    display inline-block
    height 7px
    position absolute
    top 0
    left 0
    width 67%
