.financials
  margin-bottom 75px

  th, td
    font-size 16px

  td
    border-top 1px solid $stroke
    font-size 16px
    font-weight 600
    padding 20px

    &:first-child
      padding-left 0
      width 35%

    &:last-child
      padding-right 0

    &:nth-child(4), &:nth-child(5)
      width 4%

    .edit-icon
      font-size 19px

  th
    color silver
    font-weight normal
    text-align left
    padding 20px

    &:first-child
      padding-left 0

    &:last-child
      padding-right 0

    &.activefilter
      color $orange
      border-bottom 2px solid $orange
