// Oranges
$orange = orangered

// Greens
$green = limegreen

// Blues
$lightblue = LightSkyBlue
$midblue = CornflowerBlue

// Greys
$lightgrey = Gainsboro
$lightgreytext = #9c9c9c
$stroke = #eaeaea

$radius-button = 3px
