header
	background #333
	overflow auto
	padding 10px
	position relative
	z-index 2

	.logo
		color white
		float left
		font-size 22px
		font-weight bold

	.navigation
		float right
		margin 0

		li
			display inline-block
			list-style none
			margin-right 10px

			a
				color white
				text-decoration none

				&.signup
					background $green
					border-radius 4px
					color white
					display inline-block
					padding 5px 10px
