header
	border-bottom 1px solid lighten($stroke, 40%)
	color #333
	overflow auto
	padding 35px 15px
	position relative
	z-index 2

	.logo
		float left
		font-size 22px
		font-weight bold

	.navigation
		float right
		margin 0

		li
			color white
			display inline-block
			list-style none
			margin-right 10px

			a
				color white
				text-decoration none

				&.signup
					display inline-block
					padding 5px 10px
