.nobor
  border none !important

.capitalize
  text-transform capitalize !important

.color-orange
  color $orange !important

.color-green
  color $green !important

.color-lightblue
  color $lightblue !important

.color-lightgrey
  color $lightgrey !important

.is-hidden
  display none !important

.screen-reader
  clip rect(1px, 1px, 1px, 1px) !important
  position absolute !important
  height 1px !important
  width 1px !important
  overflow: hidden !important
