.login
  a
    float left

.loginform

  div
    display inline

    label
      margin-right 10px

    input
      height 25px
      line-height 25px
      margin-right 30px

      &[type='text'], &[type='password']
        background #fff
        border none
        border-radius 3px
        color #333
        padding 0 5px


      &[type='submit']
        background #32cd32
        border none
        border-radius 4px
        color #fff
        display inline-block
