nav
	margin-bottom 50px
	padding 15px

	.subnav
		margin 0
		overflow hidden
		padding 0

		li
			border-radius $radius-button
			float left
			list-style none
			margin-right 15px

			&.active
				background $lightblue

				a
					color white

			&:hover
				background GhostWhite


			a
				color $lightgreytext
				display inline-block
				font-size 15px
				padding 6px 10px 7px
				outline none
				text-decoration none
