nav
	border-bottom 1px solid $stroke
	margin-bottom 50px
	padding 25px 15px

	.subnav
		margin 0
		overflow hidden
		padding 0

		li
			border 1px solid lighten($stroke, 40%)
			border-radius $radius-button
			float left
			list-style none
			margin-right 15px

			&.active
				background $lightblue
				border none

				&:hover
					background $lightblue

				a
					color white

			&:hover
				background GhostWhite


			a
				color $lightgreytext
				display inline-block
				font-size 18px
				height 50px
				line-height 50px
				min-width 150px
				outline none
				text-align center
				text-decoration none
