nav
	background #f4f4f4

	.subnav
		margin 0
		overflow hidden
		padding 0

		li
			float left
			list-style none

			&.active
				background $orange

				a
					color white


			a
				color black
				display inline-block
				font-size 14px
				padding 6px 10px 7px
				outline none
				text-decoration none
