media_queries = {
  mobile  : "only screen and (max-width: 600px)",
  tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
  desktop : "only screen and (min-width: 801px)"
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700italic,700,300,300italic)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css)
@import '_colors.styl'
@import '_normalise.styl'
@import '_helpers.styl'
@import '_header.styl'
@import '_nav.styl'
@import '_datepicker.styl'
@import '_login.styl'
@import '_forms.styl'
@import 'modules/_container.styl'
@import 'modules/_sections.styl'
@import 'modules/_links.styl'
@import 'modules/_buttons.styl'
@import 'modules/_notifications.styl'
@import 'modules/_dashboard.styl'
@import 'modules/_icons.styl'
@import 'modules/_archive_snapshot.styl'
@import 'modules/_progressbar.styl'
@import 'modules/_tables.styl'
@import 'modules/_cashflow_total.styl'

body
  color #333
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin 0
  padding 0

p
  color $lightgreytext
  margin-bottom 20px

article.articlebody
	padding 10px
	position relative
	z-index 1

	section

		h2
			.actionlink
        color $green
        float right
        display inline-block
        font-size 16px
        font-weight normal
        text-align center
        text-decoration none

        &:hover
          text-decoration underline


		table
			border-spacing 0
			width 100%

			th
				padding-bottom 10px

			&.financials
				background #fff

				td
					a
						cursor pointer

				th
          cursor pointer

					&.actions
						border none
						text-align center

			button
				border none

		form
			label
				display block
				margin 15px 0 5px

			input
				border-radius $radius-button
				border 1px solid #e0e0e0
				padding 5px
				width 100%

			button
				background $orange
				border none
				border-radius $radius-button
				color white
				margin-top 15px
				padding 5px 15px

			.text-help
				color $orange
				font-size 13px
				margin-top 5px





	&:first-child
		margin-top 0 !important
